@model OnlineAdz.Models.UserAd

@{
   Layout = "_Layout";
    ViewData["Title"] = "Details";
}
<h1>Details</h1>

<div>
    <h4>Ad Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserInterest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserInterest)
        </dd>
       
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AdId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
